
<suite name="BDD Suite" parallel="tests" thread-count="3">
  <test name="Chrome">
    <parameter name="browser" value="chrome"/>
    <classes>
      <class name="runners.TestRunner"/>
    </classes>
  </test>

  <test name="Firefox">
    <parameter name="browser" value="firefox"/>
    <classes>
      <class name="runners.TestRunner"/>
    </classes>
  </test>

  <test name="Edge">
    <parameter name="browser" value="edge"/>
    <classes>
      <class name="runners.TestRunner"/>
    </classes>
  </test>
</suite>
